# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Checkpoints / states
checkpoints/*.pkl

# Environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
